@if (Teams != null && Teams.Any() && tournamentState.ShowTable)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>Scored</th>
                <th>Conceded</th>
                <th>+/-</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Teams)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.Wins</td>
                    <td>@team.Draws</td>
                    <td>@team.Losses</td>
                    <td>@team.GoalsScored</td>
                    <td>@team.GoalsConceded</td>
                    <td>@team.GoalDifference</td>
                    <td>@team.Points</td>
                </tr>
            }
        </tbody>
    </table>
}
