@if (ShowTeamsInput == false)
{
    <h3>Champions League</h3>

    <EditForm Model="@Teams" OnSubmit="ValidateAndSaveTeams">

    <div class=""> 
    @for (int i = 0; i < Teams.Count; i++)
    {
        var idx = i;
        <div class="team-input-group">
            <label>Team @AlphabetUpper[idx] name: </label>
            <InputText Value="@BindTeamName(idx)" ValueChanged="@((string val) => SetTeamName(idx, val))" ValueExpression="@ForTeamName(idx)" />

            @if (!string.IsNullOrEmpty(TeamErrors[idx]))
            {
                <span class="text-danger">@TeamErrors[idx]</span>
            }
        </div>
    }
        
        <input type="submit" class="btn btn-primary" value="generate tournament">
    </div>
    </EditForm>
}
@if (ShowTeamsInput == true)
{
    <button class="btn btn-primary" @onclick="TeamsInputChange">New teams</button>
}


